/* Typography */

h1 {
    /* H1 Desktop */
    font-family: 'Merriweather', serif;
    font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 80px;

color: #000000;
}
h2 {
    /* H2 Desktop */

    font-family: 'Merriweather', serif;
    font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;

color: #000000;
}
h3 {
    /* H3 Desktop */

    font-family: 'Merriweather', serif;
    font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 45px;

color: #000000;
}
h4 {
    /* H4 Desktop */

    font-family: 'Merriweather', serif;
    font-style: italic;
font-weight: 400;
font-size: 24px;
line-height: 30px;

color: #000000;
}
h5 {
    /* H5 Desktop */

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

color: #000000;
}
h6 {
    /* H6 Desktop */

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height */

color: #000000;
}
p {
/* P pf */

font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */
color: #000000;
}


/* Nav bar CSS */
.navigation {
    background-color: #2F4A75;
    position: absolute;
    width: 100%;
    height: 131px;
    left: 0px;
    right: 0px;
    top: 0px;
    display: inline-block;
    
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.headerImage {
    position: absolute;
    width: 399px;
    height: 171px;
    left: 78px;
    top: -20px;
 
}
.flexNav {
    position: absolute;
    width: 100%;
    height: 131px;
    left: 0px;
    right: 0px;
    top: 0px;
    justify-content: flex-end;
    align-content: center;
    display: flex;
    
    
}
.navLinks {
    display: inline-block;
   align-items: center;
   justify-content: center;
    padding: 20px;
    padding-top: 56.25px;
    padding-bottom: 56.25px;
    
}
.contact {
    padding-right: 75px;
}
#navButtons {
    align-items: flex-end ;
    top: 0px;
    left: 0px;
    margin-right: 75px;
    margin-top: 0px;
    height: 131px;
    padding:0px;
}
ul {
    width: 50%;
    margin-left: auto;
    display: inline-block;
    justify-content: end;
}

/* Hero section */
.heroImg {
    height: 600px;
    padding: 25px;
}
.heroImg img {
    position: absolute;
width: 625px;
height: 601px;
left: 815px;
top: 211px;
}
.content {
    width: 500px;
    margin: 0 auto;
}

/* Footer */
footer {
    background-color: #2F4A75;
    display: grid;
}